aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
arxiv
asttokens
attrs
Authlib
beautifulsoup4
blinker
blis
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
comm
confection
conllu
cryptography
curated-tokenizers
curated-transformers
cymem
debugpy
decorator
Deprecated
dimod
diskcache
distro
dotenv
dwave-cloud-client
dwave-gate
dwave-hybrid
dwave-inspector
dwave-neal
dwave-ocean-sdk
dwave-optimization
dwave-preprocessing
dwave-samplers
dwave-system
dwave_networkx
en_core_sci_scibert @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_scibert-0.5.4.tar.gz
en_core_web_trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.8.0/en_core_web_trf-3.8.0-py3-none-any.whl#sha256
executing
fasteners
feedparser
filelock
Flask
frozenlist
fsspec
groq
h11
hf-xet
homebase
http-sf
httpcore
httpx
huggingface-hub
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonpickle
jupyter_client
jupyter_core
jupyterlab_widgets
langcodes
language_data
marisa-trie
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
minorminer
mpmath
multidict
murmurhash
nest-asyncio
networkx
nltk
nmslib-metabrainz
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
orjson
packaging
pandas
parso
pathlib
penaltymodel
pexpect
platformdirs
plucky
preshed
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pybind11
pycparser
pydantic
pydantic_core
Pygments
pyparsing
pyqubo
pysbd
PySocks
python-dateutil
python-dotenv
pytz
pyvis
PyYAML
pyzmq
rdflib
regex
requests
rich
safetensors
scikit-learn
scipy
scispacy
setuptools
sgmllib3k
shellingham
six
smart_open
sniffio
soupsieve
spacy
spacy-alignments
spacy-curated-transformers
spacy-legacy
spacy-loggers
spacy-transformers
srsly
stack-data
sympy
thinc
threadpoolctl
tokenizers
torch
torch-geometric
tornado
tqdm
traitlets
transformers
triton
typer
typer-slim
typing-inspection
typing_extensions
tzdata
urllib3
wasabi
wcwidth
weasel
Werkzeug
widgetsnbextension
wikipedia
wrapt
xxhash
yarl
zipp
